.signUp
  padding: 40px 50px
  width: 450px
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06)
  border-radius: 10px
  background-color: #ffffff
  box-sizing: border-box

.headerSignUp
  display: flex
  justify-content: space-between