.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 20px 50px;
  background-color: #ffffff;
  border-bottom: #e0e2e5;
  box-sizing: border-box; }

.lngBtn {
  padding: 11px 48px;
  border: 1px solid #e0e2e5;
  background-color: #f5f7fa;
  cursor: pointer;
  text-transform: uppercase; }
  .lngBtn:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none; }
  .lngBtn:last-child {
    border-radius: 0 5px 5px 0; }
  .lngBtn.active {
    background-color: #ffffff; }
