* {
  font-family: 'Raleway', sans-serif; }

.content {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7fa; }

.title {
  color: #3f4751;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 30px; }

.form__field {
  width: 350px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid #e0e2e5;
  outline: none;
  padding: 11px 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px; }
  .form__field:error {
    border: 1px solid #ec644b; }
  .form__field::placeholder {
    color: #b9c0c9;
    font-size: 16px;
    font-weight: 500; }

.btn {
  border: none;
  outline: none;
  width: 350px;
  height: 41px;
  box-shadow: 0 2px 14px rgba(79, 135, 251, 0.2);
  border-radius: 5px;
  background-color: #4f87fb;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer; }

.textLink {
  font-size: 16px;
  font-weight: 500;
  color: #cfd2d8;
  text-align: center; }

.link {
  font-size: 16px;
  font-weight: 500;
  color: #cfd2d8;
  cursor: pointer; }
  .link.active {
    padding-left: 5px;
    color: #4f87fb; }
  .link.forgot {
    text-align: right;
    margin-bottom: 20px; }

.input-feedback {
  display: block; }
